@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@using BlazorApp.Shared.Auth;

<PageTitle>BlazorApp</PageTitle>

<MudDialogProvider/>
<MudSnackbarProvider/>
<MudThemeProvider/>

<MudLayout>

    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>
        <MudSpacer/>
        <MudTooltip Arrow="true" Text="my github">
            <MudIconButton Class="mx-3" Color="Color.Default" Icon="@Icons.Custom.Brands.GitHub" Link="PUT_YOUR_LINK" Target="_blank"/>
        </MudTooltip>
        <MudLink Class="ml-3" Href="https://docs.microsoft.com/aspnet/" target="_blank">About</MudLink>
        <AuthorizeView>
            <Authorized>
                <MudMenu AnchorOrigin="Origin.BottomRight" Class="ml-3" LockScroll="true" TransformOrigin="Origin.TopRight">
                    <ActivatorContent>
                        <MudAvatar Image="@Icons.Custom.Brands.Gmail"/>
                    </ActivatorContent>
                    <ChildContent>
                        <div class="py-4" style="min-width: 220 px">
                            <MudText Class="px-6 pb-2" Typo="Typo.body2">
                                @context.User.Identity.Name
                            </MudText>
                            <MudText Class="px-6 pb-2" Typo="Typo.caption">
                                Пользователь
                            </MudText>
                            <MudDivider Class="my-2"/>
                            <MudMenuItem>
                                <a href="/user/profile">
                                    <div class="d-flex">
                                        <MudIcon Class="mx-2" Icon="@Icons.Material.Filled.Person"/>
                                        <MudText>Профиль</MudText>
                                    </div>
                                </a>
                            </MudMenuItem>
                            <MudMenuItem>
                                <a href="/user/user-posts">
                                    <div class="d-flex">
                                        <MudIcon Class="mx-2" Icon="@Icons.Material.Filled.Savings"/>
                                        <MudText>Ваши посты</MudText>
                                    </div>
                                </a>
                            </MudMenuItem>
                            <MudMenuItem>
                                <div class="mt-4 mx-4">
                                    <MudButton Color="Color.Default" FullWidth="true" OnClick="Logout"
                                            StartIcon="@Icons.Material.Filled.Logout" Variant="Variant.Outlined">
                                        Выйти
                                    </MudButton>
                                </div>
                            </MudMenuItem>
                        </div>
                    </ChildContent>
                </MudMenu>
            </Authorized>
            <NotAuthorized>
                <MudLink Class="ml-3" Href="/login">Login</MudLink>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>

    <MudDrawer Elevation="2" @bind-Open="_drawerOpen">
        <MudDrawerHeader Class="align-center d-flex justify-center pa-0">
            <MudIcon Color="Color.Primary" Icon="@Icons.Custom.Brands.Linux" Size="Size.Large"/>
            <MudText>Название сайта</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <div class="ml-6 my-3">
                <MudText Typo="Typo.caption">
                    Основной раздел
                </MudText>
            </div
            <MudNavLink Href="/" Icon="@Icons.Material.Filled.Home" Match="NavLinkMatch.All">
                <div class="d-flex">
                    Home
                </div>
            </MudNavLink>
            <MudNavLink Href="counter" Icon="@Icons.Material.Filled.PlusOne" Match="NavLinkMatch.All">
                Counter
            </MudNavLink>
            <AuthorizeView Roles="Administrator,User">
                <Authorized>
                    <MudNavLink Href="add-post" Icon="@Icons.Material.Filled.PostAdd" Match="NavLinkMatch.All">
                        Add Post
                    </MudNavLink>
                    <MudNavLink Href="posts-list" Icon="@Icons.Material.Filled.Shop" Match="NavLinkMatch.All">
                        Posts List
                    </MudNavLink>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Administrator">
                <Authorized>
                    <MudNavLink Href="users-list" Icon="@Icons.Material.Filled.Person" Match="NavLinkMatch.All">
                         User List
                    </MudNavLink>
                </Authorized>
            </AuthorizeView>
        </MudNavMenu>
    </MudDrawer>

    <MudMainContent>
        <MudContainer Class="mb-16 mt-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<!--<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <AuthorizeView>
                <Authorized>
                    <a @onclick="Logout" href="javascript:void(0)">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> -->

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationStateAsync(null);
        navManager.NavigateTo("/", true);
    }
}